@page "/"
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@hannes

@code
{
    [CascadingParameter (Name="Hannes")]
    public int hannes { get; set; }

    protected override void OnInitialized()
    {
    }
    protected override void OnParametersSet()
    {
 
    }
}